Repository roboco-io/ghx-cli: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, mod-tidy, lint, test, build

lefthook.yml:

# lefthook.yml - Git hooks configuration
# Ensures code quality by running lint and tests before commits

# Skip hooks in CI environment
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false  # Run sequentially to ensure each step passes
  commands:
    # Step 1: Format code
    fmt:
      glob: "*.go"
      run: |
        echo "ğŸ“ Formatting Go files..."
        gofmt -s -w {staged_files}
        goimports -w {staged_files} 2>/dev/null || true
        git add {staged_files}
      
    # Step 2: Tidy modules if go.mod changed
    mod-tidy:
      glob: "go.{mod,sum}"
      run: |
        echo "ğŸ“¦ Tidying Go modules..."
        go mod tidy
        git add go.mod go.sum
    
    # Step 3: Run linter (strict mode)
    lint:
      glob: "*.go"
      run: |
        echo "ğŸ” Running linter..."
        golangci-lint run --timeout=5m ./...
      fail_text: |
        âŒ Linting failed! Fix the issues before committing.
        Run 'golangci-lint run ./...' to see all issues.
    
    # Step 4: Run unit tests
    test:
      glob: "*.go"
      run: |
        echo "ğŸ§ª Running unit tests..."
        go test -short -race -timeout=3m ./...
      fail_text: |
        âŒ Tests failed! Fix the failing tests before committing.
        Run 'go test ./...' to see test failures.
    
    # Step 5: Check build
    build:
      glob: "*.go"
      run: |
        echo "ğŸ”¨ Checking build..."
        go build -o /tmp/ghp-test ./cmd/ghp
        rm -f /tmp/ghp-test
      fail_text: |
        âŒ Build failed! Fix compilation errors before committing.

pre-push:
  parallel: false
  commands:
    build:
      run: make build
      fail_text: |
        Build failed! Fix compilation errors before pushing.

    lint-all:
      run: golangci-lint run ./...
      fail_text: |
        Linting failed! Fix the issues before pushing.

    test-all:
      run: make test
      fail_text: |
        Unit tests failed! Fix the failing tests before pushing.

    # E2E tests - run by default, skip with GHX_SKIP_E2E=1
    test-e2e:
      run: |
        if [ "${GHX_SKIP_E2E:-0}" = "1" ]; then
          echo "Skipping E2E tests (GHX_SKIP_E2E=1)"
          exit 0
        fi
        echo "Running E2E tests..."
        make test-e2e
      fail_text: |
        E2E tests failed! Fix the issues before pushing.
        To skip E2E tests, run: GHX_SKIP_E2E=1 git push

commit-msg:
  commands:
    check-commit-message:
      run: |
        # Check commit message format
        # Format: type(scope): description  
        # Types: feat, fix, docs, style, refactor, test, chore
        if ! head -1 {1} | grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,100}$"; then
          echo "Commit message format is invalid!"
          echo "Format: type(scope): description"
          echo "Types: feat, fix, docs, style, refactor, test, chore"
          echo "Example: feat(api): add project list endpoint"
          exit 1
        fi

chore: update E2E test default repo after GitHub rename
  test/e2e/helpers_test.go
Due: fmt, lint, test, build

docs: add comprehensive user documentation
  docs/README.md
  docs/commands/README.md
  docs/commands/analytics.md
  docs/commands/auth.md
  docs/commands/discussion.md
  docs/commands/field.md
  docs/commands/item.md
  docs/commands/project.md
  docs/commands/view.md
  docs/configuration.md
  docs/examples.md
  docs/feature-comparison.md
  docs/getting-started.md
  docs/troubleshooting.md
Due: none

fix(ci): add discussions permission for E2E tests
  .github/workflows/ci.yml
Due: none

fix(e2e): skip tests on authentication/permission errors
  test/e2e/helpers_test.go
Due: fmt, lint, test, build

chore(ci): remove E2E tests from GitHub Actions
  .github/workflows/ci.yml
Due: none

docs: update README with current features and commands
  README.md
Due: none

fix(graphql): use gql.String type for repository query variables
  internal/api/graphql/repositories.go
  internal/api/graphql/repositories_test.go
Due: fmt, lint, test, build

docs: fix documentation links in README
  README.md
Due: none

chore(deps): upgrade Go to 1.24 and update all dependencies
  go.mod
  go.sum
Due: mod-tidy

chore: update CI for Go 1.24 and remove evidence docs
  .github/workflows/ci.yml
  advanced_reporting_evidence.md
  automation_workflow_evidence.md
  field_management_evidence.md
  test_evidence.md
  view_management_evidence.md
Due: none

docs: add AI agent integration guide and update Go version refs
  README.md
Due: none

docs: translate AI agent integration section to English
  README.md
Due: none
